@media only screen and (max-width: 768px){
    
    #page-room{
        display: flex;
        flex-direction: column;

        header{
            padding: 5px;
            border-bottom: 1px solid #e2e2e2;
    
            .content{                
                display: flex;
                flex-direction: column;
                max-width: 768px; 
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                > img {
                    max-width: 80px;
                    margin: 10px;
                    border-radius: 50%;
                    border: 1px solid #51bfa6;
                }
    
                > div {
                    display: flex;
                    gap: 16px; 
                    // o GAP so faz um espaçamento entre os elementos dentro de uma div, caso tenha.
    
                    button {
                        height: 40px;
                    }
                }
            }
        }
    
    
        main {
            
            display: flex;
            flex-direction: column;
            max-width: 900px;
            margin: 0 auto;
            padding: 10px;
    
            .room-title{
                width: 100%;
                margin: 32px 0 24px;
                display: flex;
                align-items: center;
    
                h1{
                    font-family: "Poppins", sans-serif;
                    font-size: 20px;
                    color: #29292e;
                }
    
                span{
                    width: 100px;
                    background: #51bfa6;
                    border-radius: 9999px;
                    padding: 8px !important;
                    color: #fff;
                    font-weight: 500;
                    font-size: 10px !important;
                }
            }
    
            form {
                textarea{
                    width: 100%;
                    border: 0;
                    padding: 16px;
                    border-radius: 8px;
                    background: #fefefe;
                    box-shadow: 0 2px 12p rgba(0, 0, 0, 0.04);
                    resize: vertical;
                    min-height: 130px;
                }
    
                .form-footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 16px;
    
                    .user-info{
                        display: flex;
                        align-items: center;
    
                        img{
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                        }
                        
                        span{
                            color: #29292e; 
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }
    
                    > span{
                        font-size: 14px;
                        color: #51bfa6;
                        font-weight: 500;
    
                        button{
                            background: transparent;
                            border: 0;
                            color: #51bfa6;
                            text-decoration: underline;
                            font-size: 14px;
                            font-weight: 500;
                            width: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }
    
            .question-list{
                margin-top: 32px;
            }
        }
    }
}

@media only screen and (min-width: 769px){
    
    #page-room{       
        header{
            padding: 5px;
            border-bottom: 1px solid #e2e2e2;
    
            .content{
                max-width: 1120px;
                margin: 0 auto;   
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                > img {
                    max-width: 100px;
                    border-radius: 50%;
                    border: 1px solid #51bfa6;
                }
    
                > div {
                    display: flex;
                    gap: 16px; 
                    // o GAP so faz um espaçamento entre os elementos dentro de uma div, caso tenha.
    
                    button {
                        height: 40px;
                    }
                }
            }
        }
    
    
        main {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
    
            .room-title{
                margin: 32px 0 24px;
                display: flex;
                align-items: center;
    
                h1{
                    font-family: "Poppins", sans-serif;
                    font-size: 24px;
                    color: #29292e;
                }
    
                span{
                    margin-left: 16px;
                    background: #51bfa6;
                    border-radius: 9999px;
                    padding: 8px;
                    color: #fff;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
    
            form {
                textarea{
                    width: 100%;
                    border: 0;
                    padding: 16px;
                    border-radius: 8px;
                    background: #fefefe;
                    box-shadow: 0 2px 12p rgba(0, 0, 0, 0.04);
                    resize: vertical;
                    min-height: 130px;
                }
    
                .form-footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 16px;
    
                    .user-info{
                        display: flex;
                        align-items: center;
    
                        img{
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                        }
                        
                        span{
                            margin-left: 8px;
                            color: #29292e; 
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }
    
                    > span{
                        font-size: 14px;
                        color: #51bfa6;
                        font-weight: 500;
    
                        button{
                            background: transparent;
                            border: 0;
                            color: #51bfa6;
                            text-decoration: underline;
                            font-size: 14px;
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }
                }
            }
    
            .question-list{
                margin-top: 32px;
            }
        }
    }
}