.question {
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;

    //Hackizinho usado pelo diego no css, e SASS
    // toda pergunta que vem depois de uma outra pergunta
    // representado pelo (&) recebe uma formataçaõ
    // .question + .question { margin-top: 8px}

    & + .question{
        margin-top: 8px;
    }

    &.highlighted{
            background: #F4F0FF;
            border: 1px solid #51bfa6;

            footer .user-info span{
                color: #29292e;
            }
        }

    &.answered{
        background: #dbdcdd;

    }
   
    p{
        color: #29292e;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user-info{
            display: flex;
            align-items: center;

            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            span{
                margin-left: 8px;
                color: #737380 ;
                font-size: 14px;
            }
        }
        
        > div {
            display: flex;
            gap: 16px;
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;
            transition: filter 0.2s;

            &.like-button{
                display: flex;
                align-items: flex-end;
                color: #737380;
                gap: 8px;

                &.liked {
                    color: #51bfa6;

                    svg path {
                        stroke: #51bfa6;
                    }
                }
            }

            &:hover{
                filter: brightness(0.7);
            }
        }
    }
}